ul {
    background-color: violet;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

.div1{
    background-color: blueviolet;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div2{
    background-color: aqua;
    height: 100px;
    width: 100px;
   

}

